*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: plum;
}
.tester{
    right: 60%;
    top: 10%;
    position: absolute;
    
}
.range{
    position: absolute;
    width: 150px;
    transform: scale(1.5); 

}
.information{
    top:25%;
    position:absolute;
    left: 30%;
    width: 500px;
    max-width: 500px;
    padding: 10px;
    font-size: 35px;
    text-align:center;
    background-color: rgb(75, 187, 224);
    border-radius: 1rem;
}
.number{
    position: absolute;
   padding: 10px;
   margin: 10px;
   top: 10px;
   right: -185px;
   font-size:large;
   color: brown;
    width: 200px;
    height: 100px;
}
.num{
    color: purple;
    font-size:x-large;
}
.password{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 30px;
  width: 240px;
  color: blue;
  border-radius: 0.3rem;

}
.password:hover{
        background-color: palegreen;
}